*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 70%;
  margin: 0 auto;
}

.float{
  float: left;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}
/* ----------------------------- */

.border {
  border:2px solid red;
}

.spazio-sezione-top-bottom {
  padding: 50px 0;
  border:2px solid blue;
}

.col-sx-big {
  width:calc(60% - 10px);
  margin-right: 10px;
}

.col-sx-small {
  width:40%;
}

.contenuto-finto {
  height: 300px;
  background-color: grey;
}


/* HEADER */
header{
  position: relative;
  height: 600px;
}

.jumbotron{
  height: 100%;
  width: 100vw;
  background-image: url(../img/jumbo.png);
}

.size-img{
  background-size: cover;
  background-position: center;
}

nav{
  height: 80px;
  background-color: aqua;
}

.links li{
  display: inline;
}

.links .button{
  display: inline;
}

header .jumbotron .box-header{
  width: 60%;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
}
/* ----------------------------- */

/* MAIN */
.section-bkg-color-1{
  background-color: #ffff;
  width: 100%;
}

.section-bkg-color-2{
  background-color: #f6f6f6;
  width: 100%;
}

section.padding-section{
  padding: 50px 0;
}

section .col-sx-img{
  /* width: 57%; */
  width: calc(60% - 25px);
  margin-right: 25px;
}

section .col-dx-img{
  width: 57%;
}

/* .col-sx-img img{
  height: 100%;
} */

section .col-dx-text{
  width: 40%;
  padding-left: 50px;
}

section .col-sx-text{
  width: 36%;
  margin-left: 2%;
  padding-left: 50px;
}

section .big-text{
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
}

section .small-text{
  font-size: 20px;
}

.top-row-text, .bottom-row-text{
  text-align: center;
}

.botttom-row-text{
  font-size: 40px;
  font-weight: 600;
}
/* ----------------------------- */

footer{
  background-color: #23272a;
}

